<mat-toolbar color="primary">
    <span>Agregar Tutorial</span>
</mat-toolbar>

<div class="flex">
    <div class="first-container">
        <textarea placeholder="Buscar por título"></textarea>
    </div>

    <div class="first-container">
        <textarea placeholder="Profesor"></textarea>
    </div>

    <div class="first-container">
        <textarea placeholder="Materia"></textarea>
    </div>

    <div class="first-container">
        <textarea placeholder="Fecha"></textarea>
    </div>
</div>
<section>
    <div class="example-button-row main-container first-container">
        <button mat-flat-button color="primary">Agregar</button>
    </div>
</section>
