<mat-toolbar color="primary">
    <span>Tutoriales</span>
</mat-toolbar>

<div class="main-container">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ex. Pizza" value="Buscar por título">
    </mat-form-field>

    <section>
        <div class="example-button-row">
            <button mat-stroked-button color="primary">Eliminar Todos</button>
        </div>
    </section>

    <section>
        <div class="example-button-container">
            <button mat-mini-fab color="info" aria-label="Example icon button with a plus one icon">+
</button>
        </div>
    </section>
</div>